.center-block{
  margin-left: auto;
  margin-right: auto;
}
.label-notification{
  color: blue;
  font-size: 14px;
  margin: 10px;
  text-align: center;
}
.sign-in-form {
  padding: 1rem 1.5em;
  border-radius: .5rem;
  background-color: #3d454f;
}
  h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase
  }

  label {
    text-transform: uppercase;
    color: #adadad;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  input {
    color: white;
  }

  input:focus {
    opacity: .8;
  }
}

.sign-in-form-username,
.sign-in-form-password {
  border-radius: 30px;
  border: none;
  transition: all ease .4s;
  color: #333;
}

.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  padding: 1rem;
  transition: all ease .4s;
}
.sign-in-form-button:hover {
  background-color: #001433;
  border-color: #e6f0ff;
}
.form-alert{
  background-color: red;
  border: 1px solid red;
}
.form-succes{
  background-color: green;
  border: 1px solid green;
}
/* Nav */

.sticky-topbar {
  width: 100%;
}
.top-bar-container{
  background-color: #e6e6e6;
}
/* Accueil */

.mega-menu .dropdown-pane {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto !important;
  left: 0% !important;
  right: 0% !important;
}

.mega-menu .menu {
  background: none;
}

.mega-menu > a::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #1779ba transparent transparent;
  margin-left: 10px;
  margin-top: 11%;
}

/* USER Profil */
.card-user-container {
  margin-bottom: 1rem;
  /*background-color: #fefefe;*/
  color: #0a0a0a;
  overflow: hidden;
  padding: 0;
  border-radius: 0;
}

.card-user-container .card-user-avatar .user-image {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 11.875rem;
  height: 11.875rem;
  padding: 0.9375rem;
}

.card-user-container .card-user-avatar .user-image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card-user-container .card-user-bio {
  padding: 1rem;
  text-align: center;
}

.card-user-container .card-user-bio .location {
  display: inline-block;
  margin: 0 0.9375rem;
  color: #767676;
  font-size: 0.875rem;
}

.card-user-container .card-user-bio .location-icon,
.card-user-container .card-user-bio .location-text {
  display: inline-block;
  padding: 0 0.3125rem;
}

.card-user-container .card-user-social {
  background: #e6e6e6;
  padding: 1rem;
  text-align: center;
}

.card-user-container .card-user-social ul {
  display: inline-block;
}

.card-user-container .card-user-social ul li {
  margin: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.card-user-container .card-user-social ul li:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card-user-container .card-user-button {
  text-align: center;
  padding: 1rem;
}

/* Status Update*/
.status-update-input-box {
  background-color: #fefefe;
  padding: 1rem;
  width: 100%;
  border: 1px solid #cacaca;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.18), 0 0.125rem 2px rgba(0, 0, 0, 0.36);
}

.status-update-input-box .input-box-container textarea {
  margin-bottom: 0;
}

.status-update-input-box .input-box-container textarea:focus {
  border: 1px solid #cacaca;
  box-shadow: none;
}

.status-update-input-box .input-box-container textarea, .status-update-input-box .input-box-container textarea:focus {
  border-bottom: none;
}

@media print, screen and (min-width: 40em) {
  .status-update-input-box .user-action-container {
    margin-right: 0;
    margin-left: 0;
  }
}

.status-update-input-box .user-action-container .user-action-box {
  padding: 0;
  border: 1px solid #cacaca;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.status-update-input-box .user-action-container .user-action-box .action-area {
  width: 20%;
  border-right: 0.0625rem solid #cacaca;
  text-align: center;
  padding-top: 0.675rem;
  padding-bottom: 0.675rem;
}

.status-update-input-box .user-action-container .user-action-box .action-area:last-of-type {
  border-right: none;
}

.status-update-input-box .user-action-container .user-action-box .action-area .action-anchor.has-tip {
  border-bottom: none;
  cursor: pointer;
}

.status-update-input-box .user-action-container .user-action-box .action-area .action-anchor .fa {
  color: #1779ba;
}

.status-update-input-box .user-action-container .user-submit-box {
  padding: 0.35rem 0.5rem;
  border: 1px solid #cacaca;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 39.9375em) {
  .status-update-input-box .user-action-container .user-submit-box {
    border-top: none;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media print, screen and (min-width: 40em) {
  .status-update-input-box .user-action-container .user-submit-box {
    border-left: none;
  }
}

.status-update-input-box .user-action-container .user-submit-box .button {
  margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .status-update-input-box .user-action-container .user-submit-box .button {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}
/* PHOTOS */
.thumbnail{
  height: 150px;
  margin: 10px;
}
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
  }
/* ADD FRIENDS */

.people-you-might-know {
  background-color: #fefefe;
  padding: 1rem 0 0;
}

.people-you-might-know .add-people-header {
  padding: 0 0.9375rem;
  border-bottom: 0.0625rem solid #cacaca;
}

.people-you-might-know .add-people-header .header-title {
  font-weight: bold;
}

.people-you-might-know .add-people-section {
  margin: 1rem 0 0;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #cacaca;
}

.people-you-might-know .add-people-section .about-people {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.people-you-might-know .add-people-section .about-people .about-people-avatar {
  padding-right: 0.5rem;
  padding-left: 0;
}

.people-you-might-know .add-people-section .about-people .about-people-avatar .avatar-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.0625rem solid #cacaca;
}

.people-you-might-know .add-people-section .about-people .about-people-author {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.people-you-might-know .add-people-section .about-people .about-people-author .author-name {
  color: #0a0a0a;
  margin: 0.375rem 0 0;
}

.people-you-might-know .add-people-section .about-people .about-people-author .author-location,
.people-you-might-know .add-people-section .about-people .about-people-author .author-mutual {
  color: #8a8a8a;
  margin-bottom: 0;
  font-size: 0.85em;
}

.people-you-might-know .add-people-section .add-friend {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 39.9375em) {
  .people-you-might-know .add-people-section .add-friend {
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.people-you-might-know .add-people-section .add-friend .add-friend-action {
  margin-top: 0.7rem;
}

.people-you-might-know .view-more-people {
  margin: .7rem 0;
}

.people-you-might-know .view-more-people .view-more-text {
  margin-bottom: 0;
  text-align: center;
}

.people-you-might-know .view-more-people .view-more-text .view-more-link {
  color: #1779ba;
}

.people-you-might-know .view-more-people .view-more-text .view-more-link:hover, .people-you-might-know .view-more-people .view-more-text .view-more-link:focus {
  text-decoration: underline;
}
