// Page Content
.grid-container.grid-container-padded#user
  .grid-x.grid-padding-x
    .cell.small-3 cell
      .card-user-container
        // card's image
        .card-user-avatar(v-if='photodeprofil')
          img.user-image(v-bind:src='photodeprofil.path')
        .card-user-avatar(v-else)
          img.user-image(src='http://placehold.it/200x200', alt='')
        // user info name, bio and location
        .card-user-bio
          p {{ nom }}, {{ prenom }}
          span.location
            span.location-icon.fa.fa-map-marker
            span.location-text {{ location }}
        // card's socail icons
        .card-user-social
          ul.menu
            li.fa.fa-twitter
            li.fa.fa-dribbble
            li.fa.fa-instagram
            li.fa.fa-github
        // card's follow button
        .card-user-button
          a.hollow.button(href='#') Suivre
    .cell.small-9 cell
      form(method='POST', action='/photos', enctype='multipart/form-data')
        input(type='file', name='gallery', multiple)
        input(type='submit', value='envoyer')
      if data
        each image in data
          a.thumbnail(href='#', data-featherlight= image.path)
            img(src= image.path)
      else
       p.label-notification= reponse
