// Page Content
.grid-container.grid-container-padded
  .grid-x.grid-padding-x
    .cell.small-3 cell
      .card-user-container
        // card's image
        .card-user-avatar
          img.user-image(src='http://placehold.it/200x200', alt='')
        // user info name, bio and location
        .card-user-bio
          h4 User Name
          p UX/UI ,Front-end developer, Foundation interested.
          span.location
            span.location-icon.fa.fa-map-marker
            span.location-text Makkah Al-Mukaramah
        // card's socail icons
        .card-user-social
          ul.menu
            li.fa.fa-twitter
            li.fa.fa-dribbble
            li.fa.fa-instagram
            li.fa.fa-github
        // card's follow button
        .card-user-button
          a.hollow.button(href='#') FOLLOW
    .cell.small-6 cell
      .status-update-input-box
        form
          .row.input-box-container
            .columns
              label
                // Add a Label here to give this input box a heading
                textarea(rows='5', placeholder="Hey Harry, What's on your mind?")
          .row.medium-collapse.user-action-container
            .small-12.medium-7.columns
              .user-action-box
                .action-area
                  a.action-anchor.has-tip.bottom(href='#', data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='2', title='Upload a Photo')
                    i.fa.fa-picture-o(aria-hidden='true')
                    span.show-for-sr Upload a Photo
                .action-area
                  a.action-anchor.has-tip.bottom(href='#', data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='2', title='Upload a Video')
                    i.fa.fa-video-camera(aria-hidden='true')
                    span.show-for-sr Upload a Video
                .action-area
                  a.action-anchor.has-tip.bottom(href='#', data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='2', title='Check in')
                    i.fa.fa-map-marker(aria-hidden='true')
                    span.show-for-sr Check in
                .action-area
                  a.action-anchor.has-tip.bottom(href='#', data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='2', title='Add a Feeling')
                    i.fa.fa-smile-o(aria-hidden='true')
                    span.show-for-sr Add a Feeling
                .action-area
                  a.action-anchor.has-tip.bottom(href='#', data-tooltip='', aria-haspopup='true', data-disable-hover='false', tabindex='2', title='Tag a Friend')
                    i.fa.fa-tags(aria-hidden='true')
                    span.show-for-sr Tag a Friend
            .small-12.medium-5.columns
              .user-submit-box
                input.button.small(type='submit', value='POST')

    .cell.small-3 cell
