// Page Content
.grid-container.grid-container-padded#user
  .grid-x.grid-padding-x
    .cell.small-3 cell
      include contentsidebar.pug
    .cell.small-9 cell
      if data
        each i in data
          p= i.ami
      else
       p pas d'amis
