// Page Content
.grid-x
  .small-4.cell.center-block
    .people-you-might-know
      .add-people-header
        h1.header-title Mot de passe perdue ?
    p.label-notification= reponse
    form(method='POST' action='/lostpassword')
      .sign-in-form
        label(for='sign-in-form-username') E-mail
        input#email(type='email', name='email')
        button.sign-in-form-button(type='submit') Envoyer
