// Page Content
.grid-container.grid-container-padded#user
  .grid-x.grid-padding-x
    .cell.small-3 
      include contentusersidebar.pug
    .cell.small-6 
      .status-update-input-box
        form
          .row.input-box-container
            .columns
              label
                // Add a Label here to give this input box a heading
                textarea#message(rows='5', placeholder="Hey Harry, What's on your mind?", name='message')
          .row.medium-collapse.user-action-container
            .small-12.medium-5.columns
              .user-submit-box
                a#poster.button.small Post
            .posts
    .cell.small-3 
script(src='/js/murusername.js')
