// Page Content
.grid-container.grid-container-padded#user
  .grid-x.grid-padding-x
    .cell.small-3 
      include contentsidebar.pug
    .cell.small-6 
      .people-you-might-know
        .add-people-header
          h1.header-title Vous n'etez pas amis !

    .cell.small-3 
