// Page Content
.grid-container.grid-container-padded#user
  .grid-x.grid-padding-x
    .cell.small-3 cell
      include contentsidebar.pug
    .cell.small-9 cell
      if data
        each image in data
          a.thumbnail(href='#', data-featherlight= image.path)
            img(src= image.path)
      else
       p.label-notification= reponse
