.top-bar-container(data-sticky-container='')
  .sticky.sticky-topbar(data-sticky='', data-options='anchor: page; marginTop: 0; stickyOn: small;')
    .top-bar.grid-container.grid-container-padded
      .top-bar-left
        ul.dropdown.menu(data-dropdown-menu='')
          li.menu-text NOFI
          li.has-submenu
            a(href='#') Menu
            ul.submenu.menu.vertical(data-submenu='')
              li
                a(href='/profil') Modifier profil
              li
                a(href='/photos') Mes photos
              li
                a(href='/listeamis') Mes amis
              li
                a(href='/logout') Déconnexion
          li
            a(href='/accueil') Accueil
          li
            a(href='/ajoutamis') Ajouter des amis
      .top-bar-right
        ul.menu
          li
            input(type='search', name='search' id='search' placeholder='Search')
        #log
