.top-bar-container(data-sticky-container='')
  .sticky.sticky-topbar(data-sticky='', data-options='anchor: page; marginTop: 0; stickyOn: small;')
    .top-bar.grid-container.grid-container-padded
      .top-bar-left
        ul.dropdown.menu(data-dropdown-menu='')
          li.menu-text NOFI
          li.has-submenu
            a(href='#') One
            ul.submenu.menu.vertical(data-submenu='')
              li
                a(href='/accueil') Accueil
              li
                a(href='/profil') Mon profil
              li
                a(href='/photos') Mes photos
              li
                a(href='/listeamis') Mes amis
              li
                a(href='/logout') Déconnection
          li
            a(href='/ajoutamis') Ajout amis
          li
            a(href='/profil') Mon profil
      .top-bar-right
        form(method="POST" action="/search")
          ul.menu
            li
              input(type='search', name='search' id='search' placeholder='Search')
            li
              input(type='submit', class='button', value='Search')
          .resultat
