doctype html
html
  include includes/head.pug
  body
    #container
      include includes/nav.pug
      include includes/contentusermur.pug
      include includes/footer.pug
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='/js/search.js')
    
