doctype html
html
  include includes/head.pug
  body
    #container
      include includes/nav.pug
      include includes/contentpasami.pug
      include includes/footer.pug
      include includes/js.pug
    
