doctype html
html
  include includes/head.pug
  body
    .grid-container
      include includes/nav.pug
      include includes/contentprofil.pug
      include includes/footer.pug
      include includes/js.pug
